*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    overflow-y: auto;
    background-image:url(/bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    
 
}
body, html {
  height:100%;
}
.mainCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 100px auto;
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px black;
    border-top: 5px solid yellow;
    border-bottom: 5px solid green;
    border-right: 5px solid red;
    border-left: 5px solid blue;
    background: linear-gradient(90deg, #FFF700, #FFD700, #FFC300);
    overflow-y: none; 
    animation:borderAnime 4s Infinite;
}
@keyframes borderAnime{
  0%{
    border-top-color:red;
    border-right-color: yellow;
    border-bottom-color: green;
    border-left-color: blue;
  }
  25%{
    border-top-color:blue;
    border-right-color: red;
    border-bottom-color: yellow;
    border-left-color: green;
  }
   50%{
    border-top-color: green;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: yellow;
  }
  75%{
    border-top-color: yellow;
    border-right-color: green;
    border-bottom-color: blue;
    border-left-color: red;
  }
  100%{
    border-top-color:red;
    border-right-color: yellow;
    border-bottom-color: green;
    border-left-color: blue;
  }
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:13px;
    padding: 30px 20px;
    
}
.cont h1{
    font-size: 23px;
    color:white;
}
.cont #name{
    font-size: bold;
    font-style: ans-serif;
    text-transform: uppercase;
    color:rgba(209, 8, 8, 1);
}
.cont input{
    padding: 10px 20px;
    border-radius: 20px;
    border:1px solid black;
}
.cont img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.cont #gamit,
#name{
    display: none;
    font-size:medium;
    border-top: 1px solid yellow;
    border-bottom: 1px solid green;
    border-right: 1px solid red;
    border-left: 1px solid blue;
    box-shadow: 2px 3px 2px rgb(8, 8, 8);
    border-radius: 10px;
    padding: 10px 10px;
}
.cont .pic{
    width: 180px;
    height: 100px;
}
.cont button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
}
.cont #bugAt{
  font-weight:bold;
}
.cont #species{
  font-weight: bold;
}
@media (max-width: 600px) {
  .mainCont {
    width: 300px;
  }
}
.cont #pokemonSprite{
  border:1px solid black;
  background:url(/pik.jpeg);
  background-size:cover;
  background-position: -34px;
}